<div class="container py-2">
	<div class="h1 text-center text-dark" id="pageHeaderTitle">Your videos (<%= @videos.count%>)</div>

	<% @videos.each_with_index do |video, index| %>
	<%= link_to video_path(video) do %>
		<article id="videocard_search_container">
		<div class="videocard light blue">
			<%= cl_image_tag video.photo.key, :effect=>"trim" %>
			<a class="videocard-img_link" href="#">
				</a>
			<div class="videocard-text t-dark">
				<h1 class="videocard-title yellow">				
					 <%= video.title %></h1>
				<div class="videocard-subtitle small">
					<time datetime="2020-05-25 12:00:00">
							<i class="fas fa-calendar-alt mr-2"></i><%= video.created_at %>	 
							<span class="badge badge-warning" id="status-pending">Pending</span> 
							<span class="badge badge-success" id="status-completed">Completed</span> 
					</time>
				</div>
				<div class="videocard-bar"></div>
				<div class="videocard-preview-txt"><%= video.description %></div>
				<% end %>
				<ul class="videocard-tagbox">
					<li class="tag-item"><i class="fas fa-tag mr-2"></i>Business</li>
					<li class="tag-item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					</li>
				</ul>
			</div>
			</div>
			<% if @caption_results[0][0] != nil %>
						<div class="temp_styling">
						<h3>Results from Transcript </h3>
						<ul>
							<% @caption_results[index].each do |caption| %>
			<li><%= caption.gsub!(/#{@search_query}/, '<strong>\0</strong>') %></li>
			<% end %>
			</ul>
			</div>
			<% end %>
		</article>
	<% end %>
</div>


<style>
	.temp_styling{
		margin: 10px 40px;
	}

	#videocard_search_container{
    background-color: #e1e5ea;
    /* flex-wrap: wrap; */
    /* display: flex; */
    box-shadow: 0 4px 21px -12px rgb(0 0 0 / 66%);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    /* overflow: hidden; */
    /* position: relative; */
    color: black;
	}
	.videocard {
    display: flex;
    box-shadow: none;
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #ffffff;
}

</style>