<div class="container py-2">
	<div class="h1 text-center text-dark" id="pageHeaderTitle">Your videos (<%= @videos.count%>)</div>

	<% @videos.each_with_index do |video, index| %>
	<%= link_to video_path(video) do %>
		<article id="videocard_search_container">
		<div class="videocard light blue">
			<%= cl_image_tag video.photo.key, :effect=>"trim" %>
	
			<div class="videocard-text t-dark">
				<h1 class="videocard-title yellow">				
					 <%= video.title %></h1>
				<div class="videocard-subtitle small">
					<time datetime="2020-05-25 12:00:00">
							<i class="fas fa-calendar-alt mr-2"></i><%= video.created_at %>	 
							<span class="badge badge-warning" id="status-pending">Pending</span> 
							<span class="badge badge-success" id="status-completed">Completed</span> 
					</time>
				</div>
				<div class="videocard-bar"></div>
				<div class="videocard-preview-txt"><%= video.description %></div>
				<% end %>
				<ul class="videocard-tagbox">
					<li class="tag-item"><i class="fas fa-tag mr-2"></i>Business</li>
					<li class="tag-item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					</li>
				</ul>
			</div>
			</div>
			<% if @caption_results[0][0] != nil %>
						<div class="temp_styling">
						<h3>Results from Transcript </h3>
						<ul>
							<% @caption_results[index].each do |caption| %>
			<li><%= caption.gsub!(/#{@search_query}/, '<b>\0</b>') %></li>
			<% end %>
			</ul>
			</div>
			<% end %>
		</article>
	<% end %>
</div>

<script>
  const textSearch = document.querySelector(".form-text")
  textSearch.addEventListener("ajax:success", (event, data)=>{
    console.log(event, data)
    console.log("asd")
    const jsonResponse = event.detail[0]
    console.log(jsonResponse)
    const replaceCaption = document.getElementById("caption-text")
    if (jsonResponse.length !== 0) {
      replaceCaption.innerHTML = ""
      jsonResponse.forEach((caption)=>{
        console.log(caption, "hello")
        replaceCaption.insertAdjacentHTML("beforeend", `<a>${caption.text}</a><br><br>`)
      })
    }


  })
  console.log(textSearch)


</script>


<style>

.current_caption{
  background-color:yellow;
  color:black;
}


</style>