<div class="caption-text">
  <h5 class="video-description">Transcription</h5>
  <div class="d-flex justify-content-between pb-3 pt-2">
    <div class="d-inline-flex">
      <form class="form-inline flex-nowrap mx-0 mx-lg-auto rounded">
        <%= form_tag text_search_path, method: :get, class: 'form-text', remote: true do %>
        <%= text_field_tag :text_query,
              params[:text_query],
              class: "form-control form-color form-radius",
              placeholder: "Search",
              data: {
              search_target: "input"
              }
              %>
        <%#= submit_tag "Search", class: "btn btn-primary btn-border btn-radius btn-font-color", id: "btn-caption-search", data: { search_target: 'button' } %>
        <% end %>
      </form>
    </div>
    <div class="d-inline-flex">

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownList" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          ➕ Add To List
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/lists/new">+ Create New List</a>
          <% current_user.lists.each do |list| %>
          <a class="dropdown-item list-name" href="" data-my-id="<%= list.id %>">
            <%= list.name %></a>
          <% end %>
        </div>
      </div>

      <div classs="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Translate
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/videos/<%= @video.id %>">English</a>
          <a class="dropdown-item" href="/videos/<%= @video.id %>?language=zh">Chinese</a>
          <a class="dropdown-item" href="/videos/<%= @video.id %>?language=ja">Japanese</a>
          <a class="dropdown-item" href="/videos/<%= @video.id %>?language=ar">Arabic</a>
          <a class="dropdown-item" href="/videos/<%= @video.id %>?language=id">Indonesian</a>
          <a class="dropdown-item" href="/videos/<%= @video.id %>?language=tl">Tagalog</a>
          <a class="dropdown-item" href="/videos/<%= @video.id %>?language=nl">Dutch</a>
          <a class="dropdown-item" href="/videos/<%= @video.id %>?language=de">German</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-body" style="overflow: auto;max-height: 420px;" id="caption_container" data-video-source="<%= @video.video_source %>">

    <% if @video.captions.length == 0 %>
    "Sorry! Transcript not available yet"
    <% else %>
    <% @video.captions.each_with_index do |caption, index| %>
    <% caption["text"] = @translation[index] if @translation %>
    <span><%= content_tag("a"," #{caption["text"]}", data: { start_seconds: caption["start_seconds"], end_seconds: caption["end_seconds"]}, class: "timecode") %></span>
    <% end %>
    <% end %>

  </div>

  <%= simple_form_for [@video, @bookmark], html: { class: "hide-form"} do |f| %>
    <%= f.association :list %>
    <%= f.submit 'Add to List', class: "btn btn-default btn-primary" %>
  <% end %>
  
  <%= javascript_pack_tag 'add-to-list' %>
