<div class="embed-responsive embed-responsive-16by9">
    <div id="player"></div>
</div>
<div class="video-description-card"> 
    <h2 class="video-title"><%= @video.title %></h2>
    <h5 class="video-description">Description</h5>
        <p><%= @video.description %></p>

    <div class="d-flex justify-content-end pb-4">
    <!-- Edit -->
    <div class="p-1 bd-highlight">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#form-edit">Edit</button>
    <!-- Edit-Modal -->
        <div class="modal fade" id="form-edit" tabindex="-1" role="dialog" aria-labelledby="form-edit" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 800px!important;" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <div class="row">
                    <div class="col-md-6">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_kwljzgsc.json"  background="transparent" loop autoplay></lottie-player>
                    </div>
                    <div class="col-md-6">
                    <%= simple_form_for @video, remote: true do |f| %>
                    <%= f.input :title, label: 'Your title please', error: 'title is mandatory, please specify one' %>
                    <%= f.input :description, as: :text, :input_html => { :rows => 6 }, label: 'Your description please', error: 'description is mandatory, please specify one' %>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <%= f.button :submit, class: "btn-primary" %>
                <% end %>
            </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Delete -->
    <div class="p-1 bd-highlight">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#form-delete">Delete</button>
    <!-- Delete-Modal -->
        <div class="modal fade" id="form-delete" tabindex="-1" role="dialog" aria-labelledby="form-delete" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 500px!important;" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <div class="row">
                    <div class="col-md-6">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_dsqblnrv.json"  background="transparent" loop autoplay></lottie-player>
                    </div>
                    <div class="col-md-6">
                    <p>Are you sure?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                 <%= button_to "Delete", video_path(@video), :method => :get, class: "btn btn-primary",
                method: :delete,
                data: { confirm: "Are you sure?" } %>
       
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
 </div>




  <style>
    .current_caption {
      background-color: yellow;
      color: black;
    }







  </style>


