<div class="embed-responsive embed-responsive-16by9">
  <%= content_tag("div","", data: { video_source: @video.video_source}, id: "player") %>
</div>
<div class="video-description-card m-4">
  <div class="video-description-card-title d-flex align-items-center">
    <h1 ><%= @video.title %></h1>
    <div class="dropdown ml-4">
      <a id="dropdownList" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-h" style="font-size:15px; color:#2b2a2a;"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" data-toggle="modal">
          <a class="dropdown-item" data-toggle="modal" data-target="#form-edit">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Edit
          </a>
          <a class="dropdown-item" data-toggle="modal" data-target="#form-delete">
            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
            Delete
          </a>
        </div>
      </div>
    </div>
    <ul class="videoplayer-tagbox d-flex">
      <% if @video.lists.exists? %>
        <% @video.lists.each do |tag| %>
          <li class="tag-item"><i class="fas fa-tag mr-2"></i><%= link_to tag.name, list_path(tag) %></li>
        <% end %>
      <% end %>
      <% if @video.duration? %>
        <li class="tag-item"><i class="fas fa-clock mr-2"></i><%= @video.duration %> minutes</li>
      <% end %>
    </ul>
    <hr>
    <p><%= @video.description %></p>
  </div>
