<!-- VIDEOHEADER-->  
<% if  @search_query === nil %>
  <div class="pageHeaderTitle">My Videos (<%= @videos.count%>)</div>
<% else %>
  <div class="pageHeaderTitle"> Results for "<%= @search_query %>" (<%= @videos.count%>) </div>
  <% end %>
  <% @videos.each_with_index do |video, index| %>
    <%= link_to video_path(video) do %>
    <!-- VIDEO-CARD-->  
      <article>
        <div class="videocard">
        <!-- VIDEO-THUMBNAIL-->  
          <div class="videocard-thumbnail">
            <%= cl_image_tag video.photo.key, :aspect_ratio=>"16:9", :width=>500, :crop=>"fill" %>
          </div>
          <!-- VIDEO INFO -->  
          <div class="videocard-info">
            <h1 class="videocard-title"><%= video.title %></h1>
            <!-- SUB-INFO -->  
            <div class="videocard-info">
                <i class="fas fa-calendar-alt mr-2"></i><%= video.created_at %>
                <% if video.captions? %>
                  <span class="badge badge-success" id="status-completed">Search Completed</span>
                <% else %>
                  <span class="badge badge-warning" id="status-pending">Pending</span>
                <% end %>
            </div>
            <%# <div class="videocard-bar"></div> %>
            <div class="videocard-description"><%= video.description %></div>
      <% end %>
            <ul class="videocard-tagbox">
              <li class="tag-item"><i class="fas fa-tag mr-2"></i>Business</li>
                <% if video.duration? %>
              <li class="tag-item"><i class="fas fa-clock mr-2"></i><%= video.duration %> minutes</li>
                <% end %>
             </ul>
      </div>
  </div>
    <% if @caption_results != nil %>
      <div class="temp_styling">
          <% if @caption_results[index] != [] %>
        <h3>Results from Transcript </h3>
        <ul>
            <% @caption_results[index].each_with_index do |caption, index| %>
              <%= link_to video_path(video, :start_skim => caption[0]) do %>
                <li><%= caption[1].gsub!(/#{@search_query}\w*\b/, '<span class = "search_term_highlight">\0</span>').html_safe %></li>
              <% end %>
            <% end %>
        </ul>
          <% end %>
      </div>
    <% end %>
  </article>
<% end %>

<style>
  .search_term_highlight{
  	background: yellow;
  }
</style>
