<div id="wrapper">
     <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <div class="sidebar-brand-text mx-3">
              <%= link_to root_path, class: "navbar-brand" do %>
                <%= image_tag "pscriber-logo.png", class: "navbar-logo" %>     
                <% end %>
            </div>
        </a>
       

<%= render 'shared/divider/horizontal' %>

<!-- Menu -->

<!-- Heading-01 -->
<div class="sidebar-heading mt-2">Dashboard</div>

    <li class="nav-item active">
         <%= link_to "Show Videos", videos_path, class: "nav-link" %>
    </li>  

    <li class="nav-item active">
        <%# <i class="fas fa-file-import"></i> %>
        <%= link_to "Import", new_video_path, class: "nav-link" %>
    </li>           

    <li class="nav-item active">
        <%# <i class="fas fa-upload"></i> %>
         <%= link_to "Upload", new_video_path, class: "nav-link" %>
    </li>  

    <li class="nav-item active">
        <%# <i class="fas fa-microphone-alt"></i> %>
        <%= link_to "Record", new_video_path, class: "nav-link" %>
    </li>  
            
<%= render 'shared/divider/horizontal' %>          


<!-- Heading-02 -->         

<div class="sidebar-heading mt-2">My Workspace</div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Bookmark</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Categories:</h6>
                <a class="collapse-item" href="buttons.html">Programming</a>
                <a class="collapse-item" href="cards.html">Business</a>
            </div>
        </div>
    </li>

<%= render 'shared/divider/horizontal' %>   
         
<div class="sidebar-heading mt-2">Addons</div>          
        
    <li class="nav-item active">
        <a class="nav-link" href="index.html">
        <i class="fas fa-user-plus"></i>
            <span>Add Member</span></a>
    </li>  


            
<%= render 'shared/divider/horizontal' %>  

<!-- Heading-03 -->    

<div class="sidebar-card d-none d-lg-flex mt-5">
        <img class="sidebar-card-illustration mb-2" src="" alt="">
        <p class="text-center mb-2"><strong>FREESCRIBER Pro</strong> is packed with premium features, components, and more!</p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
</div>

<!-- Social Media Here - To follow-->    



</ul>

