<!DOCTYPE html>
<html>
  <head>
    <title>Freescriber</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

     <%# Video Player %>
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <%# Video Player %>
    <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
  </body>
</html>
