<!DOCTYPE html>
<html>
  <head>
    <title>Freescriber</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('favicon-blue.png') %>
  </head>

  <body>
  <div class="container-fluid">
    <% if action_name == "home" %>
      <%= render 'shared/navbar/navbar-top' %> 
    <% else %>
     <%= render 'shared/navbar/navbar-main' %> 
    <% end %>
  </div>

  <div class="container">
    <div class="row">
        <div class="col-12" id="placeholder-navtop"></div>
    </div>
    <div class="row">
        <div class="col-md-2">
        <!-- TOGGLE-->
             
        </div>
         <div class="col-md-10"><%= yield %></div>
    </div>
  </div>
    <%# Animation %>

    <%# Highlighter %>
 
    <%# <script src="js/lottie.js" type="text/javascript"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> %>



  </body>
</html>
